body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profile-header {
    color: white;
    text-align: center;
    padding: 5px;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.profile-pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-details h2 {
    margin: 0;
    font-size: 60px;
    color: #333;
}

.profile-details p {
    margin: 20px 0;
    font-size: 25px;
    color: #666;
}

.profile-actions {
    text-align: center;
    padding: 5px;
}

.profile-actions button {
    background-color: rgb(4, 139, 139);
    color: white;
    padding: 20px 30px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


.profile-actions button:hover {
    background-color: rgb(3, 78, 78);
}
